body {
    background-color: lightblue;
}
div#choices {
    column-count: 3;
}
button#mining {
    column-span: 1;
    background-color: cyan;
}
button#inventor {
    column-span: 1;
    background-color: cyan;
}
button#explorer {
    column-span: 1;
    background-color: cyan;
}
div#choices {
    padding-top: 10px;
    padding-bottom: 10px;
}
h1#title {
    padding-botom: 10px;
}
div#classPlacer {
    padding-top: 10px;
    padding-top: 10px;
    background-color: cyan;
}
