body {
    background-color: lightblue;
}
div#choices {
    column-count: 3;
}
div#mining {
    column-span: 1;
}
div#inventor {
    column-span: 1;
}
div#explorer {
    column-span: 1;
}
div#choices {
    padding-top: 10px;
    padding-bottom: 10px;
}
h1#title {
    padding-botom: 10px;
}
div#classPlacer {
    padding-top: 10px;
    padding-top: 10px;
}
