body {
    background-color: lightblue;
}
div#choices {
    column-count: 3;
}
div#mining {
    column-span: one;
}
div#inventor {
    column-span: one;
}
div#explorer {
    column-span: one;
}
div#choices {
    padding-top: 30px;
    padding-bottom: 30px;
}
